nav {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

.primary-menu ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav ul li:last-child img {
  width: 40px;
  height: 40px;
}

a:hover {
color: var(--brand-color);
text-decoration: underline;
}
